html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

input { text-align: center; }

.setPointOn { display: none; }

.container-fluid,
.container-fluid > div,
#document-container,
#document,
#toolbar { position: relative; height: 100%; }

#document-container { padding: 0; }
#document { width: 100%; }

#plot {
  position: absolute;
  top: 0;
  left: 0;
}

.crosshair { cursor: crosshair }

.point,
.originPoint,
.axisPoint { cursor: pointer }



.selectboxit-container {
  position: relative;
  width: 100%!important;

  * {   font-size: 16px!important;  }
  .selectboxit {
    width: 100%!important;
    height: auto;
    border-radius: 4px;
    padding: 8px 12px;
  }

  .selectboxit-options {
    min-width: 100%!important;
    width: 100%!important;
    max-width: 100%!important;
  }

  .selectboxit-option  {
    padding: 8px 12px!important;
    max-width: 100%!important;
  }

  .selectboxit-focus,
  .selectboxit-selected {
    background-color: #0275d8;
    border-color: #0275d8;
    & * {
      background-color: #0275d8!important;
      border-color: #0275d8!important;
      color: white!important;
    }
  }

  .selectboxit-open,
  .selectboxit-hover,
  .selectboxit-enabled,
  .selectboxit-btn,
  .selectboxit-enabled *,
  .selectboxit-btn *,
  .selectboxit-hover *,
  .selectboxit-open * {
    color: black!important;
    background-color: white!important;
  }
}