html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#view-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  z-index: 100;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  background-color: white;
  border-bottom: 1px solid grey; }

input[type=number] {
  -moz-appearance: textfield; }

input {
  text-align: center; }

.setPointOn {
  display: none; }

.view-control {
  display: inline-block;
  padding: 0;
  line-height: 50px; }

.zoom,
.page-control {
  margin: 0 5px !important;
  padding: 0 0 6px 0 !important;
  width: 50px;
  line-height: 30px;
  font-size: 30px;
  opacity: 1; }
  .zoom.disabled,
  .page-control.disabled {
    opacity: .4; }

#pages {
  margin-left: 15px; }

.view-control-input {
  display: inline-block;
  margin: 0;
  padding: 0 !important;
  width: 75px;
  font-size: 20px; }

.container-fluid,
.container-fluid > div,
#document-container,
#document,
#toolbar {
  position: relative;
  height: 100%; }

#document-container {
  padding: 0; }

#document {
  width: 100%;
  position: relative; }

.page-container,
#doc-image,
.loading {
  display: block; }

.loading {
  margin: 0 auto; }

.page-container {
  width: auto; }

#plot {
  position: absolute;
  top: 0;
  left: 0; }

.crosshair {
  cursor: crosshair; }

.point,
.originPoint,
.axisPoint {
  cursor: pointer; }

.tick text {
  font-size: 10px;
  font-family: Arial;
  font-weight: 400;
  stroke-width: 1px;
  stroke: black; }

text.lbl {
  font-size: 16px;
  fill: black;
  stroke: black;
  font-style: italic; }

.selectboxit-container {
  position: relative;
  width: 100% !important; }
  .selectboxit-container * {
    font-size: 16px !important; }
  .selectboxit-container .selectboxit {
    width: 100% !important;
    height: auto;
    border-radius: 4px;
    padding: 8px 12px; }
  .selectboxit-container .selectboxit-options {
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important; }
  .selectboxit-container .selectboxit-option {
    padding: 8px 12px !important;
    max-width: 100% !important; }
  .selectboxit-container .selectboxit-focus,
  .selectboxit-container .selectboxit-selected {
    background-color: #0275d8;
    border-color: #0275d8; }
    .selectboxit-container .selectboxit-focus *,
    .selectboxit-container .selectboxit-selected * {
      background-color: #0275d8 !important;
      border-color: #0275d8 !important;
      color: white !important; }
  .selectboxit-container .selectboxit-open,
  .selectboxit-container .selectboxit-hover,
  .selectboxit-container .selectboxit-enabled,
  .selectboxit-container .selectboxit-btn,
  .selectboxit-container .selectboxit-enabled *,
  .selectboxit-container .selectboxit-btn *,
  .selectboxit-container .selectboxit-hover *,
  .selectboxit-container .selectboxit-open * {
    color: black !important;
    background-color: white !important; }

/*# sourceMappingURL=styles.css.map */
